
# $Id: .htaccess,v 1.1 2016/01/18 18:13:48 gilles Exp gilles $

AddDescription "<b>Domino</b>."                             FAQ.Domino.txt
AddDescription "<b>Dovecot</b>."                            FAQ.Dovecot.txt
AddDescription "<b>Duplicated</b> messages issues."         FAQ.Duplicates.txt
AddDescription "<b>Exchange 20xx</b> and <b>Office365</b>." FAQ.Exchange.txt
AddDescription "<b>Changing folders names</b>."             FAQ.Folders_Mapping.txt
AddDescription "<b>Flags</b>."                              FAQ.Flags.txt
AddDescription "<b>Gmail</b> accounts."                     FAQ.Gmail.txt
AddDescription "<b>ISP</b>."                                FAQ.ISP.txt
AddDescription "<b>Massive/bulk migrations</b>."            FAQ.Massive.txt
AddDescription "<b>Selecting messages</b>."                 FAQ.Messages_selection.txt
AddDescription "<b>Oracle-UCS</b>."                         FAQ.Oracle-UCS.txt
AddDescription "<b>Security</b>."                           FAQ.Security.txt
AddDescription "<b>SmarterMail</b>."                        FAQ.SmarterMail.txt
AddDescription "<b>Various imap server</b> softwares."      FAQ.Various_Server_Softwares.txt
AddDescription "<b>XOAUTH2</b> (<b>Gmail</b>)."             FAQ.XOAUTH2.txt


