

body {
  color: black;
  background-color: #eeffff
}

#left-poll {
  float: left;
  width: 30%;
}

#centered-logo {
  float: left;
  width: 70%;
}

#right-poll {
  float: right;
  width: 30%;
}

#full-page {
  float: left;
  width: 100%;
}

#right-tronche {
  float: right;
  width: 60%;
}

div.center {
  text-align: center;
}

img {
  border: 0;
}

.none
{
   list-style-type: none;
}

.bold 
{
     font-weight:bold;   
}

.smaller
{
	font-size: smaller;
}

/* $Id: style.css,v 1.6 2015/03/03 11:24:45 gilles Exp gilles $ */
