
/* $Id: style.css,v 1.8 2016/01/21 00:58:22 gilles Exp gilles $ */

body {
  color: black;
  background-color: #eeffff
}


#left-menu {
  float: left;
  width: 35%;
}


#centered-logo {
  float: left;
  width: 65%;
}

div.list {
  display: inline-block;
  vertical-align: top;
}

div.poll {
  display: inline-block;
  vertical-align: top;
}


#full-page {
  float: left;
  width: 100%;
}

#right-tronche {
  float: right;
  width: 60%;
}

div.center {
  text-align: center;
}

img {
  border: 0;
}

.none
{
   list-style-type: none;
}

.bold 
{
     font-weight:bold;   
}

.smaller
{
	font-size: smaller;
}
