
/* $Id: style.css,v 1.16 2020/06/17 05:13:27 gilles Exp gilles $ */

/* http://www.w3schools.com/html/html5_browsers.asp */

/*
header, section, footer, aside, nav, main, article, figure {
    display: inline-block;
}
*/

body {
  color: black;
  background-color: #eeffff;
}

@media screen and ( min-width: 960px ) {
  #left-menu {
    float: left;
    width: 50%;
  }

  #centered-logo {
    float: left;
    width: 50%;
  }

  #right-tronche {
  float: right;
  width: 60%;
  }

  div.list {
    display: inline-block; 
    vertical-align: top; 
  }

}



div.poll {
  display: inline-block;
  vertical-align: top;
}



div.center {
  text-align: center;
}

img {
  border: 0;
}

.none
{
   /* list-style-type: none; 
   */
}

.bold 
{
     font-weight:bold;   
}

.smaller
{
	font-size: smaller;
}

.larger
{
	font-size: larger;
}

.monospace
{
        font-family: "Courier New", Courier, monospace;
}

select {
        font-family: "Courier New", Courier, monospace;
        font-size: larger;
}

/*!
 * LaTeX.css (https://latex.now.sh/)
 *
 * Source: https://github.com/vincentdoerig/latex-css
 * Licensed under MIT (https://github.com/vincentdoerig/latex-css/blob/master/LICENSE)
*/

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-regular.woff2') format('woff2'),
    url('./fonts/LM-regular.woff') format('woff'),
    url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/LM-italic.woff2') format('woff2'),
    url('./fonts/LM-italic.woff') format('woff'),
    url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold.woff2') format('woff2'),
    url('./fonts/LM-bold.woff') format('woff'),
    url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
    url('./fonts/LM-bold-italic.woff') format('woff'),
    url('./fonts/LM-bold-italic.ttf') format('truetype');
}



body {
  /* I'm not very satisfied with the rendering of Computer Modern when browsing 
  so I comment it for now.
  */
  
  /* font-family: 'Latin Modern', serif;
  */
}

